<!DOCTYPE html>

<html data-ng-app="stockFinder" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="stock, collectibles, toy store, comic shop, coast city, inventory">
  <meta name="description" content="The current inventory of Coast City Collectibles. Even more items are in stock in store!">
  
  <title>Our current inventory</title>
  <link href=
  "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel=
  "stylesheet">
  <link href=
  "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css"
  rel="stylesheet">
  <link href="poell.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <script src="jquery-2.2.3.min.js">
  </script>
  <script src=
  "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  </script>
  <script src=
  "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
  </script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target="#myNavbar" data-toggle=
        "collapse" type="button" value="toggle_menu">Menu<span class="fa fa-eject"></span></button>
        <a class="pull-left" href="index.html"><picture><source media=
        "(max-width: 768px)" srcset="logotype-small.png"> <source srcset=
        "logotype.png"> <img alt="Logotype" src="logotype.png"></picture></a>
      </div>


      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="menu-list-item">
              <a href="inventory.html"><span aria-hidden="true" class=
              "fa fa-info"></span>nventory</a>
            </li>


            <li class="menu-list-item">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">The
              Store<span class="fa fa-money"></span></a>

              <ul class="dropdown-menu">
                <li>
                  <a href="comics.html">Comics & Books</a>
                </li>


                <li>
                  <a href="movies.html">Movies & Records</a>
                </li>


                <li>
                  <a href="toys.html">Toys & Cards</a>
                </li>


                <li>
                  <a href="cameras.html">Vintage Cameras</a>
                </li>


                <li>
                  <a href="sell.html">Sell to Us</a>
                </li>
              </ul>
            </li>


            <li class="menu-list-item">
              <a href="blog.html">Blog <span class="fa fa-book"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <nav class="side-menu">
    <ul>
      <li>
        <a href="https://www.facebook.com/OfficialCamelJockey/"><span class=
        "fa fa-facebook-square">Facebook</span></a>
      </li>


      <li>
        <a href="https://twitter.com/TheFakeESPN/"><span class=
        "fa fa-twitter-square">Twitter</span></a>
      </li>


      <li>
        <a href="https://www.youtube.com/watch?v=G9RMsBva31g"><span class=
        "fa fa-youtube-square">Youtube</span></a>
      </li>
    </ul>
  </nav>


  <div class="content-wrapper">
    <h2 id="tables">Items in stock</h2>


    <form class="form-inline">
      <div class="container">
        <label for="search-form">Search Stock:</label>
        <input class="form-control" data-ng-model="search" placeholder=
        "Search for an item..." type="text" id="search-form">
      </div>
    </form>


    <div class="bs-component" data-ng-controller="liststock">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th>Type</th>

            <th>Title</th>

            <th>Publisher/Brand</th>

            <th>Grade</th>

            <th>Price</th>
          </tr>
        </thead>

        <!-- uses the data attribute to validate. ng-repeat fills the table with all present matching values stored in the JSON file in their respective row-->
        <tbody>
          <tr data-ng-repeat="stock in stocked | filter: search">
            <td>{{ stock.type }}</td>

            <td>{{ stock.title }}</td>

            <td>{{ stock.publisher }}</td>

            <td>{{ stock.grade }}</td>

            <td>{{ stock.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="container-footer">
    <footer>
      <address>
        <a href="mailto:coast@citycoll.com"><span aria-hidden="true" class=
        "fa fa-envelope">Send us an email</span></a> <a href=
        "tel:+113371337"><span aria-hidden="true" class="fa fa-phone">(133) 713
        337Ask for Hal</span></a>

        <p><span aria-hidden="true" class="fa fa-map-marker"></span>22 Lantern
        rd, Coast City, CA 997 07</p>
      </address>
    </footer>
  </div>
  <div class="validator">
      <a href="http://validator.w3.org/check?uri=referer">
      <img src="img/html5.png" alt="HTML5 validation icon">
      </a>
      <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://poell.github.io/css/poell.css&profile=css3">
      <img src="img/css.png" alt="CSS3 validation icon">
      </a>
      <a href="http://wave.webaim.org/report#/http://poell.github.io/inventory.html">
      <img src="img/wcag.png" alt="WCAG validation icon">
      </a>
</div>  
    <!-- quicker load times in body-->
    <script src="searchapp.js">
    </script>
</body>
</html>