/*Tile the background image (which I made from an image of one of my microphones, repurposing galore, use Raleway as the default font from Google Font.*/
body {
  background-image: url(bg-tile2.png);
  font-family: 'Raleway',sans-serif;
  color: #1b1b2f;
  margin-top: 105px;
}

h1 {
  color: #dd8282;
  margin: 20px;
}

h2 {
  color: #dd8282;
}
/* Asymmetrical content wrapper. Set a max-width to allow scaling */
.content-wrapper {
  border-radius: 50px 20px;
  background-color: #f8f8f8;
  color: #1b1b2f;
  padding: 10px;
  max-width: 750px;
}

.text-box {
  background-color: #f8f8f8;
  color: #1b1b2f;
  padding: 10px;
}

.navbar-toggle {
  color: #dd8282;
    
}

.fa {
  padding-left: 5px;
  padding-right: 3px;
}
/* Use a white button on the mobile site to improve contrast */
.fa-eject {
  color: #fff;
}

.dropdown {
  margin-top: 35px;
  font-size: 1.5em;
}

.menu-list-item {
  margin-top: 35px;
  font-size: 1.5em;
}

.col-md-3 {
  padding: 10px;
}

footer {
  font-size: 1.2em;
  text-align: center;
  color: #000;
}

.container-footer {
  border-radius: 50px 20px;
  background-color: #fff;
  color: #1b1b2f;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 750px;
}

.blogpost {
  background-color: #f8f8f8;
  color: #504545;
  max-width: 750px;
  border-radius: 20px 10px;
  margin: 20px 20px 20px 0;
  padding: 10px;
}
/* Used to style the publish date on the blog */
.publish-date {
  color: #dd8282;
  font-size: .9em;
  text-align: right;
  margin-right: 10px;
}

.media-wrapper {
  padding: 40px 0;
}
/* Positioning of the social widgets */
.side-menu {
  position: fixed;
  right: 0;
  top: 200px;
}

.side-menu ul {
  padding: 10px;
}

.side-menu ul li {
  padding: 0;
  -webkit-transform: translate(-20px,0);
  -moz-transform: translate(-20px,0);
  -ms-transform: translate(-20px,0);
  -o-transform: translate(-20px,0);
  transform: translate(-20px,0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  list-style-type: none;
}
/* When the user hovers the side menu make the items move 250px */
.side-menu ul li:hover {
  padding: 0;
  -webkit-transform: translate(-270px,0);
  -moz-transform: translate(-270px,0);
  -ms-transform: translate(-270px,0);
  -o-transform: translate(-270px,0);
  transform: translate(-270px,0);
}

.side-menu ul li span {
  height: 70px;
  width: 70px;
  font-size: 3.3em;
  color: #fff;
}
/* On hover, make the icons, hence the span, scale up by 150%. Also make the animation last for one second */
.side-menu ul li:hover span {
  -webkit-transform: scale(1.5,1.5);
  -moz-transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5);
  -o-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.item {
  padding: 10px;
}
/* Set the captions of the image carousel to another color that is easier to read */
.carousel-caption {
  color: #f4f1f1;
}

.carousel-caption a {
  color: #f4f1f1;
  text-decoration: underline;
}

.tooltip-inner {
  background-color: #fff;
  color: #dd8282;
  font-size: 1.5em;
}
/* Add some css and html5 validation icons in the bottom right */
.validator {
  position: fixed;
  bottom: 0;
  right: 15px;
}

/* When the screen is but 768px wide (since that is when the bootstrap navbar kicks in according to the bootstrap stylesheet file), up the margin to make place for the dropdown menu. Also style the menu list items. Hide the css/html5-icons on small screens */
@media screen and (max-width: 768px) {
  body {
    margin-top: 200px;
  }

  .menu-list-item {
    margin-top: 5px;
    font-size: 1.2em;
  }
  .validator {
    display: none;
  }
}
/* Remove the sidebar when the screen width is below 1240 pixels.  That should remove it from many tablets and phones. I do realize that device width may be better to use and may consider using that next time. Also, on second thought it would have been better to style it for mobile devices and then set the values for desktop devices */
@media screen and (max-width: 1240px) {
  .side-menu {
    display: none;
  }
}